<main>
        <div class="Titulo">
            <h1><span>P</span>reinscripcion</h1>
        </div>
    {{#msg}}
        <div class="contendido">
            <div class="contenidoEstado">
                <div class="error">{{msg}}</div>
                <div class="estado"><a href="/inscripcion/tuPerfil">Ver Perfil</a></div>
                <div class="estado"><a href="/inscripcion/inscripcion">Ir a Inscripciones</a></div>
            </div>
        </div>
    {{/msg}}
</main>