<main>
    <div class="Titulo">
        <h1><span>I</span>nstituto <span>P</span>adre <span>E</span>lizalde</h1>
    </div>
    <div class="contendido">
        <div class="contenedorCards">
            <div class="card">
                <div class="cardTexto">
                    <p class="TituloCard">INICIAL</p>
                    <p class="descCard">Los más pequeños comienzan su viaje educativo en un entorno seguro y estimulante,
                        donde el juego y la curiosidad son la base del aprendizaje</p>
                </div>
                <div class="botonNivel">
                    <a href="/nivel/inicial"><span>Ver más</span></a>
                </div>
            </div>
            <div class="card">
                <div class="cardTexto">
                    <p class="TituloCard">PRIMARIO</p>
                    <p class="descCard">Donde los niños desarrollan habilidades fundamentales y descubren sus intereses.
                        Fomentamos el pensamiento crítico y la creatividad a través de una enseñanza integral</p>
                </div>
                <div class="botonNivel">
                    <a href="/nivel/primario"><span>Ver más</span></a>
                </div>
            </div>
            <div class="card">
                <div class="cardTexto">
                    <p class="TituloCard">SECUNDARIO</p>
                    <p class="descCard">Preparamos a nuestros estudiantes para el futuro con una educación de calidad
                        que promueve la independencia, el liderazgo y la responsabilidad social.</p>
                </div>
                <div class="botonNivel">
                    <a href="/nivel/secundario"><span>Ver más</span></a>
                </div>
            </div>
            <div class="card">
                <div class="cardTexto">
                    <p class="TituloCard">TERCIARIO</p>
                    <p class="descCard">Programas especializados que preparan a los estudiantes para carreras exitosas
                        y significativas, con un enfoque en la excelencia académica y la práctica profesional.</p>
                </div>
                <div class="botonNivel">
                    <a href="/nivel/terciario"><span>Ver más</span></a>
                </div>
            </div>
        </div>
        <div class="inscripcion">
            <div>
                <a href="/inscripcion/preinscripcion">Inscribite</a>
            </div>
        </div>
    </div>
</main>