<main>
    <div class="Titulo">
        <h1><span>I</span>nicial</h1>
    </div>
    <div class="contenedorNivel">
        <div class="contenedorPropuesta">
            <h3>Propuesta Educativa</h3>
            <p>Tenemos como objetivo que los chicos y las chicas que aspiren a formar parte  de nuestra comunidad educativa
                puedan entender la importancia de que su educación sea libre, integra y prioritaria partiendo siempre del
                respeto, amor, fe , comprensión y por sobre todas las cosas pasión.<br><br>
                Buscamos que los miembros que integran nuestra  querida escuela puedan repensar su práctica para erradicar
                con las desigualdades, garantizando así la continuidad de las propuestas de enseñanza.</p>
        </div>
        <div class="contenedorOrganizacion">
            <div class="organizacionTexto">
                <h6>Organizacion</h6>
                <div>
                    <p><strong>Salas:</strong> de 3 – 4 – 5 (multiedad) · Turno mañana y tarde</p>
                    <p><strong>Horarios atención / secretaría:</strong> lunes a viernes - 8 a 12hs | 13 a 17hs</p>
                </div>
            </div>
            <div class="boton">
                <a href="/inscripcion/preinscripcion">Inscribir a mi Hijo</a>
            </div>
        </div>
    </div>
</main>