<main>
    <div class="Titulo">
        <h1><span>B</span>ienvenido</h1>
    </div>
    <div class="contenedorForm">
        <h3>Iniciar Sesion</h3>
        {{#msg}}
            <div class="error">{{msg}}</div>
        {{/msg}}
        <form class="formUser" action="/user/loginUsuario" method="post">
            <label for="email">Email</label>
            <input name="email" type="email" id="email" required>
            <label for="password">Contraseña</label>
            <input name="password" type="password" id="password" required>
            <button type="submit">Ingresar</button>
        </form>
        <p>¿No tenes cuenta? <a href="/user/registerView">Registrate</a></p>
    </div>
</main>