<main>
    <div class="Titulo">
        <h1><span>B</span>ienvenido</h1>
    </div>
    <div class="contenedorForm">
        <h3>Registro</h3>
        <div class="opcionRegistro"><a href="/user/registerAdultoView">Padre o Madre</a></div>
        <div class="opcionRegistro"><a href="/user/registerAlumnoView">Alumno Terciario</a></div>
        <p>¿Ya tenes cuenta? <a href="/user/loginView">Inicia Sesion</a></p>
    </div>
</main>