<main>
    <div class="Titulo">
        <h1><span>S</span>ecundario <span>T</span>écnico</h1>
    </div>
    <div class="contenedorNivel">
        <div class="contenedorPropuesta">
            <h3>Propuesta Educativa</h3>
            <p id="muchotexto">Nuestra Institución forma TÉCNICOS capaces de hallar nuevas soluciones a los problemas
                tecnológicos que se generan en el campo profesional, y los prepara para ingresar exitosamente a los
                niveles superiores del sistema educativo como las Carreras de Ingeniería y las Tecnicaturas de nivel Superior.
                <br><br>
                Nuestros alumnos se especializan en:
                <br>
                Programar y desarrollar app, juegos, software y sistemas operativos.<br>
                Instalación, puesta en marcha y mantenimiento de computadoras personales y redes.<br>
                Asesoramiento al usuario en informática del hogar y profesional.<br>
                Dominar distintos lenguajes de programación y diseñar sitios web.<br>
                Apoyo ténico en la compra de productos y servicios informáticos.<br>
                Implementar sistemas automatizados y robóticos.</p>
        </div>
        <div class="contenedorOrganizacion">
            <div class="organizacionTexto">
                <h6>Organizacion</h6>
                <div>
                    <p><strong>Ciclo Básico:</strong> técnico en informática personal y profesional</p>
                    <p><strong>Ciclo Superior:</strong> técnico en informática personal y profesional</p>
                    <p><strong>Horarios atención / secretaría:</strong>Lunes a Viernes de 9 a 15hs</p>
                    <p><strong>Horarios atención / jefe de taller:</strong>Lunes a Viernes de 8 a 12hs</p>
                </div>
            </div>
            <div class="boton">
                <a href="/inscripcion/preinscripcion">Inscribir a mi Hijo</a>
            </div>
        </div>
    </div>
</main>