<main>
    <div class="Titulo">
        <h1><span>S</span>ecundario</h1>
    </div>
    <div class="contenedorNivel">
            <div class="contenedorOrganizacion2">
                <div class="organizacionTexto">
                    <h6>Secundaria</h6>
                    <h6>Basica</h6>
                </div>
                <div class="boton">
                    <a href="/nivel/secundarioBasico">Ver Mas</a>
                </div>
            </div>
        <div class="contenedorOrganizacion2">
            <div class="organizacionTexto">
                <h6>Secundaria</h6>
                <h6>Tecnica</h6>
            </div>
            <div class="boton">
                <a href="/nivel/secundarioTecnico">Ver mas</a>
            </div>
        </div>
    </div>
</main>