<main>
    <div class="Titulo">
        <h1><span>S</span>ecundario <span>B</span>asico</h1>
    </div>
    <div class="contenedorNivel">
        <div class="contenedorPropuesta">
            <h3>Propuesta Educativa</h3>
            <p id="muchotexto">Teniendo como base y fundamento sòlido nuestro ideario educativo, constituido a partir de VALORES como la fe,
                verdad, vida, justicia, solidaridad, paz, esperanza, respeto, unidad, amor, recibimos a jóvenes de hoy,
                ofreciéndoles una formaciòn integral que los capacite para la vida, el trabajo y el ingreso a los niveles
                superiores del sistema educativo.
                <br>
                Objetivos en nuestra educaciòn:
                <br>
                La formación de ciudadanos  en relación con el mundo y sus desafíos constantes;  fundados en la enseñanza de las ciencias humanas, naturales y exactas,  comprometidas con la realidad emergente.
                Educación desde una perspectiva cristiana y humanizante sobre los diferentes ámbitos  de la vida. <br>
                Abordaje crítico y  problematizador de  los diferentes contenidos abordados  en los espacios académicos.
                <br>
                Participación en proyectos intra y extra escolares que incentiven el desarrollo humano, social, académico
                y laboral.</p>
        </div>
        <div class="contenedorOrganizacion">
            <div class="organizacionTexto">
                <h6>Organizacion</h6>
                <div>
                    <p><strong>Composición:</strong> 12 secciones divididas en 6 secciones por la mañana (1C, 2C, 3C, 1D, 2D, 3D) en el
                        5to piso y 6 secciones por la tarde (1 A, 2 A, 3 A, 1B, 2B, 3B) en el 2do piso.</p>
                    <p><strong>Orientaciones</strong>: Ciencias Sociales; Ciencias Naturales; Economía y Administración</p>
                    <p><strong>Horarios atención / secretaría:</strong> Lunes 9 a 14hs | Martes 9 a 12hs | Miércoles 11 a 14hs
                        | Jueves 9 a 12hs | Viernes 12:30 a 16hs</p>
                </div>
            </div>
            <div class="boton">
                <a href="/inscripcion/preinscripcion">Inscribir a mi Hijo</a>
            </div>
        </div>
    </div>
</main>