<main>
    <div class="Titulo">
        <h1><span>T</span>erciario</h1>
    </div>
    <div class="contenedorNivel">
        <div class="contenedorPropuesta">
            <h3>Propuesta Educativa</h3>
            <p id="muchotexto">Hoy al observar la realidad, se hace necesaria una respuesta comunitaria desde la unidad
                de esfuerzos y propósitos, para devolver a la educación su lugar central en la dinámica social.
                Preparamos al futuro docente, en un recorrido en el que se forman como estudiantes y como docentes,
                posición ambivalente de formador en formación,  para afrontar el devenir de la época, acompañamos y
                sostenemos desde la institución de formación brindando métodos adecuados de enseñanza, personal docente
                seleccionado y condiciones propicias que favorezcan la confianza en sí mismo y en los demás, así como la
                aplicación de lo aprendido en la satisfacción de las necesidades que impone la vida cotidiana.
                <br><br>
                Siempre ha caracterizado al Instituto un clima humano y de acompañamiento entre docentes y estudiantes
                que es su marca registrada y permite que cada estudiante se sienta en su casa. Esperamos formar docentes
                con mirada humanista y cristiana que acompañen las trayectorias con esperanza en el futuro y que no
                abandonen sus sueños y utopías.
            </p>
        </div>
        <div class="contenedorOrganizacion">
            <div class="organizacionTexto">
                <h6>Organizacion</h6>
                <div>
                    <p><strong>Biologia</strong>: <a href="#">Ver Plan</a></p>
                    <p><strong>Ciencia Sagrada</strong>: <a href="#">Ver Plan</a></p>
                    <p><strong>Filosofia</strong>: <a href="#">Ver Plan</a></p>
                    <p><strong>Geografia</strong>: <a href="#">Ver Plan</a></p>
                    <p><strong>Historia</strong>: <a href="#">Ver Plan</a></p>
                    <p><strong>Nivel Inicial</strong>: <a href="#">Ver Plan</a></p>
                    <p><strong>Lengua y Literatura</strong>: <a href="#">Ver Plan</a></p>
                    <p><strong>Matematica</strong>: <a href="#">Ver Plan</a></p>
                    <p><strong>Educacion Primaria</strong>: <a href="#">Ver Plan</a></p>
                </div>
            </div>
            <div class="boton">
                <a href="/inscripcion/preinscripcion">Inscribirme</a>
            </div>
        </div>
    </div>
</main>